<!-- Custom styles for this template -->
<link href="/static/css/about.css" rel="stylesheet">
<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card hovercard">
                    <div class="card-background">
                        <img class="card-bkimg" alt="" src="/static/img/aboutimg.jpg"/>
                        <!-- http://lorempixel.com/850/280/people/9/ -->
                    </div>
                    <div class="useravatar">
                        <img alt="" src="/static/img/profile.jpg"/>
                    </div>
                    <div class="card-info"><span class="card-title">Md. Imrul Hasan</span>

                    </div>
                </div>
                <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <div class="hidden-xs">Stars</div>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="favorites" class="btn btn-default" href="#tab2"
                                data-toggle="tab"><span class="glyphicon glyphicon-heart"
                                                        aria-hidden="true"></span>
                            <div class="hidden-xs">Favorites</div>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="following" class="btn btn-default" href="#tab3"
                                data-toggle="tab"><span class="glyphicon glyphicon-user"
                                                        aria-hidden="true"></span>
                            <div class="hidden-xs">Following</div>
                        </button>
                    </div>
                </div>

                <div class="well">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <h3>This is tab 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae cupiditate
                                delectus ex facilis laudantium nesciunt nulla reprehenderit sapiente veritatis,
                                voluptates voluptatibus. Adipisci aliquam animi delectus dignissimos fugiat officiis
                                perferendis.</p>
                        </div>
                        <div class="tab-pane fade in" id="tab2">
                            <h3>This is tab 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad exercitationem ipsam
                                magnam nostrum officia placeat quam, veritatis? Beatae dolores earum, laboriosam
                                odit placeat saepe sed veritatis. Et ex numquam rerum.</p>
                        </div>
                        <div class="tab-pane fade in" id="tab3">
                            <h3>This is tab 3</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad amet aperiam autem
                                delectus dolores ducimus ea eos, fugiat hic id magnam, maxime modi necessitatibus
                                nesciunt non odit perspiciatis veniam?</p>
                            <div class="row">
                                <div class="col-lg-3 col-sm-6">

                                    <div class="card hovercard">
                                        <div class="cardheader">

                                        </div>
                                        <div class="avatar">
                                            <img alt="" src="/static/img/aboutimg.jpg"/>
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
                                            </div>
                                            <div class="desc">Passionate designer</div>
                                            <div class="desc">Curious developer</div>
                                            <div class="desc">Tech geek</div>
                                        </div>
                                        <div class="bottom">
                                            <a class="btn btn-primary btn-twitter btn-sm btn-circle"
                                               href="https://twitter.com/webmaniac">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/+ahmshahnuralam">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="btn btn-primary btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-behance"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-sm-6">

                                    <div class="card hovercard">
                                        <div class="cardheader">

                                        </div>
                                        <div class="avatar">
                                            <img alt="" src="/static/img/aboutimg.jpg"/>
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
                                            </div>
                                            <div class="desc">Passionate designer</div>
                                            <div class="desc">Curious developer</div>
                                            <div class="desc">Tech geek</div>
                                        </div>
                                        <div class="bottom">
                                            <a class="btn btn-primary btn-twitter btn-sm btn-circle"
                                               href="https://twitter.com/webmaniac">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/+ahmshahnuralam">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="btn btn-primary btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-behance"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-sm-6">

                                    <div class="card hovercard">
                                        <div class="cardheader">

                                        </div>
                                        <div class="avatar">
                                            <img alt="" src="/static/img/aboutimg.jpg"/>
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
                                            </div>
                                            <div class="desc">Passionate designer</div>
                                            <div class="desc">Curious developer</div>
                                            <div class="desc">Tech geek</div>
                                        </div>
                                        <div class="bottom">
                                            <a class="btn btn-primary btn-twitter btn-sm btn-circle"
                                               href="https://twitter.com/webmaniac">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/+ahmshahnuralam">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="btn btn-primary btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-behance"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-sm-6">

                                    <div class="card hovercard">
                                        <div class="cardheader">

                                        </div>
                                        <div class="avatar">
                                            <img alt="" src="/static/img/aboutimg.jpg"/>
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
                                            </div>
                                            <div class="desc">Passionate designer</div>
                                            <div class="desc">Curious developer</div>
                                            <div class="desc">Tech geek</div>
                                        </div>
                                        <div class="bottom">
                                            <a class="btn btn-primary btn-twitter btn-sm btn-circle"
                                               href="https://twitter.com/webmaniac">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/+ahmshahnuralam">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="btn btn-primary btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-behance"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-sm-6">

                                    <div class="card hovercard">
                                        <div class="cardheader">

                                        </div>
                                        <div class="avatar">
                                            <img alt="" src="/static/img/aboutimg.jpg"/>
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
                                            </div>
                                            <div class="desc">Passionate designer</div>
                                            <div class="desc">Curious developer</div>
                                            <div class="desc">Tech geek</div>
                                        </div>
                                        <div class="bottom">
                                            <a class="btn btn-primary btn-twitter btn-sm btn-circle"
                                               href="https://twitter.com/webmaniac">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/+ahmshahnuralam">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="btn btn-primary btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-behance"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-sm-6">

                                    <div class="card hovercard">
                                        <div class="cardheader">

                                        </div>
                                        <div class="avatar">
                                            <img alt="" src="/static/img/aboutimg.jpg"/>
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
                                            </div>
                                            <div class="desc">Passionate designer</div>
                                            <div class="desc">Curious developer</div>
                                            <div class="desc">Tech geek</div>
                                        </div>
                                        <div class="bottom">
                                            <a class="btn btn-primary btn-twitter btn-sm btn-circle"
                                               href="https://twitter.com/webmaniac">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/+ahmshahnuralam">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="btn btn-primary btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-behance"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-sm-6">

                                    <div class="card hovercard">
                                        <div class="cardheader">

                                        </div>
                                        <div class="avatar">
                                            <img alt="" src="/static/img/aboutimg.jpg"/>
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
                                            </div>
                                            <div class="desc">Passionate designer</div>
                                            <div class="desc">Curious developer</div>
                                            <div class="desc">Tech geek</div>
                                        </div>
                                        <div class="bottom">
                                            <a class="btn btn-primary btn-twitter btn-sm btn-circle"
                                               href="https://twitter.com/webmaniac">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/+ahmshahnuralam">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="btn btn-primary btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-behance"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-sm-6">

                                    <div class="card hovercard">
                                        <div class="cardheader">

                                        </div>
                                        <div class="avatar">
                                            <img alt="" src="/static/img/aboutimg.jpg"/>
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
                                            </div>
                                            <div class="desc">Passionate designer</div>
                                            <div class="desc">Curious developer</div>
                                            <div class="desc">Tech geek</div>
                                        </div>
                                        <div class="bottom">
                                            <a class="btn btn-primary btn-twitter btn-sm btn-circle"
                                               href="https://twitter.com/webmaniac">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/+ahmshahnuralam">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="btn btn-primary btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm btn-circle" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-behance"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });
    });
</script>