<div class="container">

    <div class="starter-template">
        <form action="fileupload" method="post" role="form" enctype="multipart/form-data">
            <legend>CSV To 9 Tab Simulator</legend>

            <div class="form-group">
                <label for="filetoupload">Select a CSV File</label>
                <input type="file" class="form-control" name="filetoupload" id="filetoupload" placeholder="Input...">
            </div>

            <button type="submit" class="btn btn-primary">Simulate</button>
        </form>
    </div>

</div><!-- /.container -->